<footer class="bg-dark text-white text-center py-3 mt-5">
            &copy; <span id="year"></span> Wanderlust Travels | Discover Your Next Adventure <br>
            Last updated: <span id="lastUpdated"></span> <br>
            Contact: <a href="mailto:info@wanderlusttravels.com">info@wanderlusttravels.com</a>
        </footer>